/* @import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/grid/columns.sass"; */

.breadcrumb{
    display: flex;
    justify-content: flex-end;
}
.container {
    width: 95%;
}
#currentDate {
    padding-bottom: 10px;
    border-bottom: 0.5px rgb(223, 218, 218) solid;
}
.icons {
    width: 15px;
}
.icon {
    padding:0 !important;
}
/* .navbar-brand {
    width: 50%;
}
.navbar-end {
    width: 20%;
} */
.buttons {
    display: flex;
    flex-direction: row-reverse;

    
}
body {
    height: 100vh;
    min-height: 100vh;
}
#hourlyOrDaily {
    height: 300px;
}