.breadcrumb{
    display: flex;
    justify-content: flex-end;
}
.container {
    width: 95%;
}
#currentDate {
    padding-bottom: 10px;
    border-bottom: 0.5px rgb(223, 218, 218) solid;
}
.icons {
    width: 15px;
}
.icon {
    padding:0 !important;
}

.buttons {
    display: flex;
    flex-direction: row-reverse; 
}
body {
    height: 100vh;
    min-height: 100vh;
}

main {
    height: 80%;
}
#hourlyOrDaily {
    height: 50%;
}
#progressBar {
    position: fixed;
}
.hidden {
    display: none !important;
}